*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    width: 100%;
}
.task-wrapper {
    display: grid;
    grid-template-columns: 1fr 130px;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "sort sort"
        "taskboard stickers";
}

div#sort {
    grid-area: sort;
    background: #f8f5f5;
    padding: 15px;
}

div#taskboard {
    grid-area: taskboard;
}

div#stickers {
    grid-area: stickers;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#stickers > div {
    border-radius: 50%;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
}
div#stickers > div span.sticker-color {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
}
.task {
    
    border: 1px solid #cac4c4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0px #555555;
}
.tooltip {
    width: 400px;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 15px;
    box-shadow: 0 0 3px 1px #dfedf0;
}